on: issue_comment
name: test-kata-deploy
jobs:
  check_comments:
    runs-on: ubuntu-latest
    steps:
      - name: Check for Command
        id: command
        uses: xt0rted/slash-command-action@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          command: "test"
          reaction: "true"
          reaction-type: "eyes"
          allow-edits: "false"
          permission-level: admin
      - name: verify command arg is kata-deploy
        run: |
           echo "The command was '${{ steps.command.outputs.command-name }}' with arguments '${{ steps.command.outputs.command-arguments }}'"
           [[ ${{ steps.command.outputs.command-arguments}} == "kata-deploy" ]]

  create-test-container:
    needs: check_comments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: build-container-image
        run: |
            VERSION=$(curl https://raw.githubusercontent.com/kata-containers/runtime/master/VERSION)
            ARTIFACT_URL="https://github.com/kata-containers/runtime/releases/download/${VERSION}/kata-static-${VERSION}-x86_64.tar.xz"
            echo $(ls)
            echo $(pwd)
            wget "${ARTIFACT_URL}" -O ./kata-deploy/kata-static.tar.xz
            docker build --build-arg KATA_ARTIFACTS=kata-static.tar.xz -t katadocker/kata-deploy-ci:${GITHUB_SHA} ./kata-deploy
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            docker push katadocker/kata-deploy-ci:$GITHUB_SHA

  test-on-az:
    needs: create-test-container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: set-pkg-env
        run: |
                echo ::set-env name=PKG_SHA::${GITHUB_SHA}
      - name: test-kata-deploy-in-aks
        uses: ./kata-deploy/actions/az
        env:
          PKG_SHA: ${{ env.PKG_SHA }}
          AZ_APPID: ${{ secrets.AZ_APPID }}
          AZ_PASSWORD: ${{ secrets.AZ_PASSWORD }}
          AZ_SUBSCRIPTION_ID: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          AZ_TENANT_ID: ${{ secrets.AZ_TENANT_ID }}

